<div class="container" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Upload and Download Files</h4>
    </div>
    <div class="panel-body">
      <strong>Select files form your computer</strong>
      <div *ngIf="fileStatus.status === 'progress'">
        <div class="progress">
          <div [style.width.%]="fileStatus.percent"
               class="progress-bar progress-bar-animated bg-info"
               role="progressbar"
               aria-valuenow="50"
               aria-valuemin="0"
               aria-valuemax="100">
            {{fileStatus.requestType}} {{fileStatus.percent}}
          </div>
        </div>
      </div>
      <hr />

      <form enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <div>
              <input (change)="onUploadFiles($event.target.files)"
                     type="file"
                     name="file"
                     id="file"
                     multiple
                     class="form-control" />
            </div>
          </div>
        </fieldset>
      </form>

      <div *ngIf="filenames?.length > 0" class="js-upload-finished">
        <h3>Processed files</h3>
        <div *ngFor="let filename of filenames" class="list-group">
          <a (click)="onDownloadFiles(filename)" class="list-group-item list-group-item-success" style="cursor:pointer;">
              {{filename}}
            <a class="alert-success float-right">Download</a>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
